{% extends 'shop/basic.html' %}
{% block css %}
{% endblock %}
{% block body %}

  <div class="container mt-3">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>

  </div>
    <div class="row my-2">
    {% for item in myposts %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{item.title}}</h3>
          <div class="mb-1 text-muted">{{item.pub_date}}</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src='/media/{{item.thumbnail}}'> </img>
        </div>
      </div>
    </div>
   {% if forloop.counter|divisibleby:2  %}
  </div>
    <div class="row my-2">
    {% endif %}
    {% endfor %}
    </div>
   {% endblock %}