{% extends 'shop/basic.html' %}

{%block title%}Title of about{%endblock%}

{% block body %}

<div class="container ">
    <div style="padding-bottom:10px;padding-top:10px;">
    <h1>Get In touch with us !</h1>
    </div>
<form action="/shop/contact/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name"  id="name" placeholder="Enter your Name">
  </div>

     <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your Email">
  </div>
     <div class="phone">
    <label for="phone">Your Phone No.</label>
    <input type="tel" name='phone' class="form-control" id="phone" placeholder="">
  </div>

  <div class="form-group">
    <label for="desc">How May we help you !</label>
    <textarea name="desc" class="form-control" id="desc" rows="3"></textarea>
  </div>

    <div>
        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
</form>
    </div>
{% endblock body %}