{% extends 'shop/basic.html' %}

{%block title%}Checkout{%endblock%}

{% block body %}
<div class="container">
	<div class="col my-4">
	<h2>My Awesome Cart Express Tracker-Enter your Order Id to track Your Orders</h2>


</div>


  <div>
		<form method="post" action="" id="TrackerForm"> {% csrf_token %}
  <div class="form-row">
  	<div class="form-group col-md-6">
      <label for="OrderId">Order Id</label>
      <input type="text" class="form-control" id="OrderId" name="OrderId">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Track Order</button>
</form>

	</div>



<div class="col my-4">

<h2>Your Order Status</h2>
<div>
	<ul class="list-group " id="items" >
Enter your order Id and Email and click Track Order to find details about your order!
</ul>
</div>
 <h2>Your Order Details</h2>
<div>
  <ul class="list-group " id="citems" >
  <!-- we will add items here -->
 
</ul>
</div>
</div>

</div>
{% endblock body %}
{% block js %}
 <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
$('#TrackerForm').submit(function(event){
  event.preventDefault();
$('#items').empty();
$('#citems').empty();
var formData={
    'OrderId': $('input[name=OrderId]').val(),
    'email': $('input[name=email]').val(),
    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
};
$.ajax({
    type:'POST',
    url:'/shop/tracker/',
    data:formData,
    encode:true
    })
    .done(function(data){
      data=JSON.parse(data)
    updates=data[0]      
      if(updates.length>0)
        {
        mystr="";
        console.log(data)

        console.log(updates)
        for(i=0;i<updates.length;i++){
    	let text=updates[i]['text'];
    	let time=updates[i]['time'];
    	mystr=mystr+`<li class="list-group-item d-flex justify-content-between align-items-center">
    ${text}
    <span class="badge badge-primary badge-pill">${time}</span> </li>`

}
$('#items').append(mystr);

    
    }
    else
    {
    mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    Sorry We are not able to fetch this order . Make sure to check your credentials !
     </li>`
    $('#items').append(mystr);
    }

    mystr=" ";
    Cart=JSON.parse(data[1])
    console.log(Cart)
    for(item in Cart){
      let name=Cart[item][1];
      let qty=Cart[item][0];
      mystr=mystr+`<li class="list-group-item d-flex justify-content-between align-items-center">
    ${name}
    <span class="badge badge-primary badge-pill">${qty}</span> </li>`

}
$('#citems').append(mystr);
});

});
</script>
{% endblock %}